* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/Gamlilorien/Memory-Game/master/public/images/wallpaper.jpg");
  background-repeat: none;
  background-color: #13dbff;
}
